.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    margin: 1rem;
    width: 91vw; 
}

.cabecalho__logo {
    width: 28vw;
    max-width: 8rem;
    min-width: 6rem;
}

.cabecalho__pesquisa {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .cabecalho {
        margin: 1rem 2rem; 
    }

    .cabecalho__logo {
        width: 13.125vw;
    }

    .cabecalho__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 53vw;
    }

    .cabecalho__pesquisa {
        display: flex;
        flex-direction: row-reverse;
    }

    .cabecalho__pesquisa-icone {
        position: absolute;
        padding: .5rem .75rem;
    }

    .cabecalho__pesquisa-campo {
        background-color: var(--cinza-bg);
        border-radius: 1.25rem;
        border: none;
        padding: .75rem 1rem; 
        width: 35vw;
    }

    .cabecalho__pesquisa-campo::placeholder {
        color: var(--cinza-medio);
        font-family: var(--fonte-principal);
        font-size: .875rem;
        font-weight: 400;
        line-height: 1rem;
    }

    .cabecalho__pesquisa-mobile {
        display: none;
    }
}

@media screen and (min-width: 1280px) {

    .cabecalho {
        margin: 2rem auto;
        width: 79vw; 
    }

    .cabecalho__logo {
        max-width: 11rem;
        width: 12.225vw;
    }

    .cabecalho__nav {
        width: 42vw;
    }

    .cabecalho__pesquisa-campo {
        width: 26.5vw;
    }
}