.formulario {
    display: flex;
    flex-direction: column;
}

.formulario-rodape {
    padding-top: 1.5rem;
    margin: 0 auto;
    max-width: 22.5rem;
}

.formulario__titulo {
    font-weight: 700;
}

.formulario__inputs {
    border: none;
    border-radius: .25rem;
    box-shadow: 0 1px .5px var(--cinza-claro);
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    margin: .5rem 0;
    width: 100%;
}

.formulario__inputs::placeholder {
    color: var(--cinza-medio);
    font-size: 1rem;
    font-weight: 400;
    padding: .75rem;
}

.formulario-rodape__nome {
    height: 3.5rem;
}

.formulario-rodape__mensagem {
    height: 5.125rem;
    resize: none;
}

/* login.html */
.formulario-login {
    padding: 6.062rem 2.5rem 4.75rem;
    text-align: center;
}

.formulario-login__titulo {
    margin-bottom: .5rem;
}

.formulario-login__inputs {
    max-width: 17.187rem;
    padding: .625rem .75rem;
}

@media screen and (min-width: 768px) {
    .formulario-rodape {
        max-width: 29rem;
        padding-top: 0;
        width: 56.512vw;
    }

    /* login.html */
    .formulario-login__inputs {
        max-width: 26.437rem;
        width: 36vw;
    }
}

@media screen and (min-width: 1280px) {
    .formulario-rodape {
        margin: 0;
        max-width: 35rem;
    }

    /* login.html */
    .formulario-login {
        padding: 5.75rem 2.5rem 5.687rem;
    }

    .formulario-login__inputs {
        padding: 1.343rem .75rem;
    }

    .formulario-login__titulo {
        font-size: 1.125rem;
        line-height: 1.312rem;
        margin-bottom: 1.05rem;
    }
}
