/* -------- form footer */
.form__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .5rem 0;
}

.form__input-field {
    border: none;
    border-radius: 0 0 .25rem .25rem;
    box-shadow: 0 1px .5px var(--cinza-claro);
    box-sizing: border-box;
    color: var(--cinza-escuro);
    font-size: 1rem;
    line-height: 1.25rem;
}

.form__input-field::placeholder {
    color: var(--cinza-medio);
    font-size: 1rem;
}

.form__label {
    background-color: var(--branco);
    border-radius: .25rem .25rem 0 0;
    color: var(--cinza-medio);
    font-size: .75rem;
    padding: .5rem .75rem .25rem;   
}

.form__label-textfield {
    padding: .25rem .75rem .437rem;
}

.form__input-textfield {
    border-radius: .25rem;
    margin-top: 1rem;
    padding: 1rem .75rem 2.875rem;
    resize: none;
}

/* login.html */
.formulario-login {
    padding: 6.062rem 2.5rem 4.75rem;
    text-align: center;
}

.formulario-login__titulo {
    margin-bottom: .5rem;
}

.formulario-login__inputs {
    max-width: 17.187rem;
    padding: .625rem .75rem;
}

/* admin.html */
.formulario-add__inputs {
    padding: 1rem 0;
}

@media screen and (min-width: 768px) {

    /* login.html */
    .formulario-login__inputs {
        max-width: 26.437rem;
        width: 36vw;
    }
}

@media screen and (min-width: 1280px) {

    /* login.html */
    .formulario-login {
        padding: 5.75rem 2.5rem 5.687rem;
    }

    .formulario-login__inputs {
        padding: 1.343rem .75rem;
    }

    .formulario-login__titulo {
        font-size: 1.125rem;
        line-height: 1.312rem;
        margin-bottom: 1.05rem;
    }

    /* admin.html */
    .formulario-add {
        max-width: 34.937rem;
    }

}
