/* -------- about-product.html */
.product-about__image {
    width: 100vw;
    height: 12rem;
    object-fit: cover;
}

.product-about__title {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.614rem;
}

.product-about__price {
    font-size: 1rem;
    line-height: 1.173rem;
    margin: .5rem 0;
}

.product-about__text {
    font-size: .875rem;
    font-weight: 400;
}

.product-about__subtitle {
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

    .product-about__container {
        background-color: var(--cinza-bg);
    }

    .product-about {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;
    }

    .product-about__image {
        max-width: 17.159rem;
        width: 33vw;
        height: 9.812rem;
    }

    .product-about__content {
        max-width: 29.38rem;
        padding: 0;
        margin: 0;
        width: 56.5vw;
    }
}

@media screen and (min-width: 1280px) {
    
    .product-about {
        padding: 4rem 0 0;
    }

    .product-about__image {
        max-width: 35rem;
        width: 50vw;
        height: 25.187rem;
    }

    .product-about__content {
        max-width: 35rem;
        padding: 0;
        width: 50vw;
    }

    .product-about__title {
        font-size: 3.25rem;
        font-weight: 500;
        line-height: 3.812rem;
    }

    .product-about__text {
        font-size: 1rem;
        line-height: 1.187rem;
    } 
}