.categoria {
    background-color: var(--branco);
    box-sizing: border-box;
    font-size: .875rem;
    font-weight: 700;
    margin: 0 auto;
    max-width: 26rem;
    padding: 1rem;
}

.categoria__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.categoria__titulo {
    font-size: 1.375rem;
    line-height: 1.625rem;
}

.categoria__link {
    display: flex;
    align-items: center;
    color: var(--azul);
    gap: .25rem;
}

.categoria__produtos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.categoria__desktop {
    display: none;
}

.categoria__produtos-imagem {
    object-fit: cover;
    height: 10.875rem;
    width: 43.335vw;
    max-width: 11.4rem;
    min-width: 9.75rem;
}

.categoria__produtos-nome {
    font-weight: 500;
    margin: .5rem 0;
}

.categoria__produtos-preco {
    font-size: 1rem;
    line-height: 1.187rem;
    margin-bottom: .5rem;
}

.categoria__produtos-link {
    color: var(--azul);
}


@media screen and (min-width: 768px) {
    .categoria {
        max-width: 51.5rem;
        padding: 2rem;
    }
    
    .categoria__link {
        font-size: 1rem;
        line-height: 1.187rem;
        gap: .5rem;
    }
    
    .categoria__produtos-imagem {
        max-width: 11.1rem;
        width: 21.355vw;
    }
    
    .categoria__produtos-link {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .categoria {
        max-width: 71rem;
        padding: 4rem 0 2rem;
    }

    .categoria__titulo {
        font-size: 2rem;
        line-height: 2.375rem;
    }

    .categoria__desktop {
        display: block;
    }

    .categoria__produtos-imagem {
        width: 11rem;
    }
}