.rodape {
    background-color: var(--azul-claro);
    line-height: 1.1875rem;
    padding: 1rem;
}

.rodape__institucional {
    text-align: center;
}

.rodape__logo {
    max-width: 11rem;
    width: 70vw;
}

.rodape__lista-item {
    display: block;
    color: var(--cinza-escuro);
    padding: .5rem;
}

.rodape__texto {
    background-color: var(--branco);
    line-height: 1.187rem;
    margin: 2rem auto;
    max-width: 15rem;
    text-align: center;
    width: 70vw;
}

@media screen and (min-width: 768px) {
    
    .rodape {
        padding: 2rem 2rem 1.5rem;
    }
    
    .rodape__container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        margin: 0 auto;
        max-width: 47rem;
    }
    
    .rodape__institucional {
        max-width: 17rem;
        text-align: left;
        width: 33.073vw;
    }

    .rodape__lista-item {
        padding: 1rem 0 .5rem;
    }

    .rodape__texto {
        padding: 2rem auto;
        width: 15rem;
    }   
}

@media screen and (min-width: 1280px) {
    .rodape {
        padding: 4rem auto 3.5rem;
    }

    .rodape__container {
        gap: 7rem;
        margin: 2rem auto;
        max-width: 71rem;
        width: 71rem;
    }

    .rodape__institucional {
        display: flex;
        justify-content: space-between;
        max-width: none;
        width: 29rem;
    }
}