@import "./css/reset.css";
@import "./css/cabecalho.css";
@import "./css/banner.css";
@import "./css/produtos.css";

:root {
    --branco: #FFFFFF;
    --azul: #2A7AE4;
    --azul-claro: #EAF2FD;
    --azul-botao-hover: #D4E4FA;
    --cinza-escuro: #464646;
    --cinza-claro: #a2a2a2;
    --cinza-sombra: #c8c8c8;
    --search-background: #F5F5F5;

    --fonte-principal: 'Raleway', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    color: var(--cinza-escuro);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

button, a {
    font-family: var(--fonte-principal);
    border: none;
    box-shadow: none;
    color: var(--branco);
    text-decoration: none;
}

/* 
HOME | index.html
- header: cabecalho.css
- banner: banner.css
- categoria: produtos.css 
*/

/* --------------------------------- footer */

.rodape {
    background-color: var(--azul-claro);
    padding: 1rem;
}

.rodape__institucional {
    text-align: center;

}

.rodape__lista-item {
    display: block;
    color: var(--cinza-escuro);
    line-height: 1.1875rem;
    padding: .5rem;
}

.rodape__formulario {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.rodape__titulo {
    font-weight: 700;
    line-height: 1.1875rem;
}

.rodape__campos {
    margin: .5rem 0;
    border: none;
    box-shadow: 0 1px .5px var(--cinza-sombra);
    border-radius: .25rem;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    width: 100%;
}

.rodape__nome-input {
    height: 3.5rem;
}

.rodape__mensagem {
    resize: none;
    height: 5.125rem;
}

.rodape__campos::placeholder {
    font-size: 1rem;
    padding: .75rem;
    color: var(--cinza-claro);
    font-weight: 400;
}

.rodape__botao {
    color: var(--branco);
    background-color: var(--azul);
    padding: .75rem 1rem;
    width: 9.437rem;
    font-weight: 600;
    font-size: .875rem;
}

.rodape__texto {
    background-color: var(--branco);
    margin: 2rem auto;
    width: 15rem;
    text-align: center;
    line-height: 1.187rem;
}


/* --------------------------------- TABLET */
@media screen and (min-width: 768px) {
    
/* --------------------------------- footer */

    .rodape {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem 2rem 1.5rem;
        gap: 5.875rem;
    }
    
    .rodape__institucional {
        text-align: left;
    }

    .rodape__lista-item {
        padding: 1rem 0 .5rem;
    }

    .rodape__formulario {
        padding-top: 0;
        width: 27.125rem;
    }

    .rodape__texto {
        width: 15rem;
        padding: 2rem auto;
    }   
}

/*------------------------------DESKTOP*/

@media screen and (min-width: 1280px) {

    /* --------------------------------- footer */

    .rodape {
        margin-top: 2rem;
        gap: 7rem;
        padding: 4rem 0 3.5rem;
    }

    .rodape__institucional {
        display: flex;
        justify-content: space-between;
        width: 29rem;
    }

    .rodape__formulario {
        width: 35rem;
    }

    .rodape__botao {
        padding: 1rem;
        width: 10.312rem;
        font-weight: 400;
        font-size: 1rem;
    }
}