@import "./css/reset.css";
@import "./css/header.css";
@import "./css/banner.css";
@import "./css/produtos.css";
@import "./css/footer.css";
@import "./css/buttons.css";
@import "./css/formularios.css";
@import "./css/descricao.css";

:root {
    --branco: #FFFFFF;
    --azul: #2A7AE4;
    --azul-claro: #EAF2FD;
    --azul-claro-hover: #D4E4FA;
    --azul-medio-hover: #5595E9;
    --cinza-escuro: #464646;
    --cinza-medio: #a2a2a2;
    --cinza-claro: #c8c8c8;
    --cinza-bg: #F5F5F5;

    --fonte-principal: 'Raleway', sans-serif;
}

/* -------- general styles */
body {
    font-family: var(--fonte-principal);
    color: var(--cinza-escuro);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

button, a {
    border: none;
    box-shadow: none;
    font-family: var(--fonte-principal);
    text-decoration: none;
}

input, label, ::placeholder {
    font-weight: 400;
    font-family: var(--fonte-principal);
}

input:focus, textarea:focus, select:focus {
    outline: 1px var(--branco);
}

h2, h3 {
    font-weight: 700;
}

.subtitle__default {
    font-size: 2rem;
    line-height: 2.375rem;
}

.container {
    background-color: var(--cinza-bg);
}

/* .titulo {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.625rem;
}

.titulo__produtos {
    margin-bottom: 1rem;
}

.titulo__add {
    margin-bottom: .5rem;
}

.titulo__descricao {
    font-weight: 500;
    margin-bottom: .5rem;
}

@media screen and (min-width: 768px) {
    .titulo__produtos {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .titulo {
        font-size: 2rem;
        line-height: 2.375rem;
    }

    .titulo__descricao {
        font-size: 3.25rem;
        line-height: 3.812rem;
    }
} */