@import "./css/reset.css";
@import "./css/cabecalho.css";
@import "./css/banner.css";
@import "./css/produtos.css";
@import "./css/rodape.css";
@import "./css/botoes.css";
@import "./css/formularios.css";

:root {
    --branco: #FFFFFF;
    --azul: #2A7AE4;
    --azul-claro: #EAF2FD;
    --azul-claro-hover: #D4E4FA;
    --azul-medio-hover: #5595E9;
    --cinza-escuro: #464646;
    --cinza-medio: #a2a2a2;
    --cinza-claro: #c8c8c8;
    --cinza-bg: #F5F5F5;

    --fonte-principal: 'Raleway', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    color: var(--cinza-escuro);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

button, a {
    font-family: var(--fonte-principal);
    border: none;
    box-shadow: none;
    text-decoration: none;
}

.container {
    background-color: var(--cinza-bg);
}

/* 
CSS HOME | index.html
- header: cabecalho.css
- banner: banner.css
- categoria: produtos.css
- footer: rodape.css
- botões header/banner/form/footer: botoes.css
- form: formularios.css

CSS LOGIN | login.html
- header: cabecalho.css
- form: formularios.css
- botões form/footer: botoes.css
- footer: rodape.css
*/